<main>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" id="searchForm2" method="POST" action="/forum/search">
            <label for="searchPost2">Search Posts</label>
                <input class="form-control mr-sm-2" type="search" placeholder="keyword of post name" aria-label="Search" id="searchPost2" name="postName">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchSubmit2">Search</button>
            </form>
    </nav>
    {{#if hasError}}
        <p class="errors">{{error}}</p>
    {{/if}}
    <p class="errors" id="searchError2"></p>

    <h1 class="pageTitle">Search Results</h1>
   {{#unless hasError}}
    {{#if searchPost}}
        <ul class = "searchPosts">
            {{#each searchPost}}
                <li>
                   <a class="postList" href="/forum/post/{{this._id}}">
                   <h2>{{this.title}}</h2>
                   </a>
                   <p class="content">{{this.content}}</p>
                   <p class="username">{{this.username}}</p>
                   <p class="time">{{this.postTime}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p class="errors">No matching search results</p>
    {{/if}}  
    {{/unless}}
</main>

<link rel="stylesheet" href= "/public/css/forum.css">
<script src="/public/js/forum.js"></script>
